<footer>
  <div class="footer-content">
    <div class="brand">&copy; 2024 HideSpot</div>
    <a href="/">
      <img src="/imgs/Logo.svg" alt="logo" />
    </a>
    <div class="credits">
      <div>Created by <a href="github.com">Viads</a></div>
      <div>Assets credited to original creators.</div>
    </div>
  </div>
</footer>
