<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="icon" type="image/svg+xml" href="/imgs/Logo.svg" />
    <title>HideSpot</title>
  </head>
  <body>
    <div id="content">
      <%- include('partials/navigation') %>
      <main>
        <div class="form-container">
          <div class="form-content">
            <h1>Sign Up</h1>
            <%- include('partials/errors') %>
            <form action="" method="POST">
              <label for="first_name">First Name</label>
              <input id="first_name" name="first_name" type="text" />
              <label for="last_name">Last Name</label>
              <input id="last_name" name="last_name" type="text" />
              <label for="username">Username</label>
              <input id="username" name="username" type="text" />
              <label for="password">Password</label>
              <input id="password" name="password" type="password" />
              <label for="confirm_password">Confirm Password</label>
              <input
                id="confirm_password"
                name="confirm_password"
                type="password"
              />
              <button type="submit">Sign Up</button>
              <div class="form-info">
                Already have an account? <a href="/log-in">Log In</a>
              </div>
            </form>
          </div>
        </div>
      </main>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/navigation.js"></script>
  </body>
</html>
