@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black: #000000;
  --white: #ffffff;
  --swamp-yellow: #bfc500;
  --dark-grey: #272626;
  --light-grey: #4b4a4a;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

body {
  background: var(--black);
  color: var(--white);
}

#content {
  min-height: 100vh;
  padding: 0 4rem;
  margin: 0 auto;
  max-width: 1750px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.left-header {
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
}

.left-header a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

.right-header {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 1rem;
}

#navMenu {
  display: flex;
  text-align: center;
}

#navMenu > ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 2rem;
  row-gap: 6rem;
}

#navMenu > ul > li {
  position: relative;
}

#navMenu > ul > li > a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navMenu > ul > li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--swamp-yellow);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#navMenu > ul > li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navMenu.show {
  display: flex;
}

.burger-menu {
  display: none;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 3px;
  background-color: var(--white);
  margin: 3px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 4px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

main {
  min-height: calc(100vh - 3.2rem);
  height: calc(100vh - 3.2rem);
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Mobile navigation menu styles */
@media (max-width: 768px) {
  #content {
    padding: 0 1rem;
  }

  #navMenu {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 3rem);
    justify-items: center;
    flex-direction: column;
    z-index: 1000;
    border: 2px solid pink;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  #navMenu > ul {
    display: flex;
    text-align: center;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .burger-menu {
    display: block;
  }
}
